body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Chilanka', cursive;
}

a {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

li {
    list-style: none;
}

.demo {
  margin: 30px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.demo .list li{
    padding: 10px;
}

.demo .content-editable {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}
