body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Chilanka', cursive;
}

a {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

li {
    list-style: none;
}

.home {
  text-decoration: none;
}

.home span {
  font-size: 25px;;
}

.box {
  border: 1px dotted;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 10px;
}
.demo {
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.demo .list li{
    padding: 10px;
}

.demo .content-editable {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.demo .data-attribute {
  padding: 10px;
}

.demo .range output {
  font-size: 62px;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}


.embed-youtube {
  border: 1px solid #ffffff;
}