body {
  background-color: rgb(10, 10, 57);
  color: #f4dddd;
  font-family: 'Montserrat', sans-serif;
 /* font-family: 'Silkscreen', cursive;*/
}
h1
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Silkscreen', cursive;
}

.body {
  background-image: url("https://i.pinimg.com/564x/ce/1f/8a/ce1f8a647a8634f7eb59fb3b28130169.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  color: #f4dddd;
 /* font-family: 'Montserrat', sans-serif;
  font-family: 'Silkscreen', cursive;*/
}
.div
{
  margin-top: 70px;
}

a {
  color: #c3b1ec;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

li {
    list-style: none;
}

.home {
  text-decoration: none;
}

.home span {
  font-size: 25px;;
}

.box {
  border: 1px dotted;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 10px;
}
.demo {
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.demo .list li{
    padding: 10px;
}

.demo .content-editable {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.demo .data-attribute {
  padding: 10px;
}

.demo .range output {
  font-size: 62px;
}
.demoo {
  margin: 420px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.demoo .list li{
    padding: 10px;
}

.demoo .content-editable {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.demoo .data-attribute {
  padding: 10px;
}

.demoo .range output {
  font-size: 62px;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}
.figure {
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  figcaption
{
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
figure{
margin: 10px auto 30px auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

